@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);

    font-family: "Fraunces";
    src: url(../fonts/Fraunces/static/Fraunces_72pt/Fraunces_72pt-Regular.ttf);
}

/* GENERAL */

body{
    background-color: #F3EAE3;
    margin: 0;
}

main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* CARD */

.card-container{
    background-color: #FFFFFF;
    width: 55vw;
    height: 55vh;
    border-radius: 20px;
    display: flex;     
    overflow: hidden;
}

.card-img-container{
    width: 50%;
}

.card-img-container img{
    width: 100%;
    height: auto;
}

.card-content{
    width: 50%;
    padding: 4vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;    
}

.card-content h2{
    color: #A0A0A8;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    width: 70%;
    margin: 0;
}

.card-content h1{
    font-size: 4rem;
    font-weight: bold;
    width: 70%;
    margin: 0;
    padding: 2.5vh 0;
}

.card-content>p{
    color: #A0A0A8;
    font-size: 1.8rem;
    font-weight: 500;
    width: 70%;
    margin: 0;
    padding-bottom: 1vh;
}

.price-container{
    width: 80%;
    padding-bottom: 2vh;
}


.price-container p{
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
}

.price-container .green-price{
    color: #3A8368;
    font-family: "Fraunces";
    font-size: 3rem;
    font-weight: 700;
    padding: 5%;
}

.price-container .through-price{
    color: #A0A0A8;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: line-through;    
}

.btn{
    color: white;
    background-color: #3A8368;
    font-family: "Fraunces";
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    border-radius: 10px;
    width: 60%;
    margin: 0 4rem;
    padding: 2vh 2vw;
    text-align: center;
    display: inline-block;
}

.attribution{
    margin-top: 2rem;
}